# Node
node_modules/
npm-debug.log*

# Build and Dist
dist/
dist-app/
dist-package/
dist-installer/
frontend/dist/
frontend/node_modules/
build/
*.asar
release/
final-build/
build-exe/

# Database
backend/exam_portal.sqlite
backend/questions.json
backend/result.json
backend/sessions.json
backend/settings.json
*.db
*.sqlite

# Environment and Logs
.env
*.log

# OS and IDE
.DS_Store
.vscode/
.idea/
Thumbs.db
Desktop.ini
